body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif; /* 添加字体 */
}

.scene {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    border-radius: 15px; /* 圆角效果 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    overflow: hidden; /* 隐藏溢出内容 */
}

.scene-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll {
    cursor: pointer;
    transition: transform 0.3s;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 20px;
    background-size: cover;
}

.scroll:hover {
    transform: scale(3.3);
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); /* 更加透明的背景 */
    padding: 15px; /* 增加内边距 */
    border-radius: 10px; /* 圆角效果 */
    z-index: 1;
    animation: blink 1s infinite;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 添加阴影 */
}

.centered-text {
    text-align: center;
}
.welcome-title {
    font-size: 36px; /* 增大字体 */
    color: #333; /* 字体颜色 */
    text-align: center; /* 居中对齐 */
    margin-bottom: 30px; /* 增加下边距，设置与按钮的距离 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* 字体阴影 */
}

.start-button {
    background-color: #007bff; /* 按钮颜色 */
    color: white; /* 字体颜色 */
    padding: 15px 30px; /* 增加内边距 */
    border: none; /* 去掉边框 */
    border-radius: 5px; /* 圆角效果 */
    cursor: pointer; /* 鼠标悬停时显示为手指 */
    font-size: 18px; /* 增大字体 */
    transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
}

.start-button:hover {
    background-color: #0056b3; /* 悬停时更改颜色 */
    transform: scale(1.05); /* 悬停时放大效果 */
}

.temple-result {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* 宝箱样式 */
#treasureBox {
    width: 100px;
    height: 100px;
    transition: transform 1s;
    position: relative;
    z-index: 2;
}

#treasureBox.rotate {
    transform: scale(5);
}

/* 守卫页面的守卫图片样式 */
#guardPage.guard-image {
    width: 33.33%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    animation: guardMove 5s linear infinite;
}

/* 守卫页面的消息样式 */
#guardMessage {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
    font-size: 18px;
}

@keyframes guardMove {
    0% {
        left: 0;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        left: 50%;
        transform: translate(-50%, -50%) rotate(15deg);
    }
    100% {
        left: 100%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}


/* 神庙场景的继续探索按钮样式，增大并靠近场景 */
#temple #continueButton {
    font-size: 24px;
    padding: 25px 35px;
    position: absolute;
    bottom: 30px;
    right: 40px;
}
